<h1>article new page</h1>

<form action="/articles" method="POST">

  <label for="article_title">Title:</label>
  <input type="text" name="article[title]" value="" id="article_title">

  <label for="article_content">Content:</label>
  <input type="text" name="article[content]" value="" id="article_content">

  <input id= "Submit" type="submit" name="submit" value="Create Article!">

</form>
