<form action="/articles" method="post">

  Enter your Title: <input id="title" type="text" name="article[title]">
  Enter your Content: <input id="content" type="text" name="article[content]">
  <input type="submit" name="Submit" value="submit">

</form>
