<h1>New Article Form </h1>

<h3>Title</h3>
    <p> <%= @article.title %> </p>
<h3>Content</h3>
    <p> <%= @article.content %> </p>

<form action="/articles/<%= @article.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete article">
</form>